.gp_1
{
    grid-area: gp_1;
}
.gp_2
{
    grid-area: gp_2;
}
.gp_3
{
    grid-area: gp_3;
}
.gp_4
{
    grid-area: gp_4;
}

.grid_page
{
    display: grid;

    margin-top: 10px;

    grid-gap: 10px;
    grid-template-columns: 260px 1fr;
    grid-template-rows: auto auto 1fr;
    grid-template-areas: 'gp_1 gp_2'
    'gp_1 gp_3'
    'gp_1 gp_4'
    ;
}

.grid_index
{
    display: grid;

    margin-top: 10px;

    grid-gap: 10px;
    grid-template-columns: 260px 1fr;
    grid-template-rows: auto 1fr ;
    grid-template-areas: 'gp_1 gp_2'
    'gp_1 gp_4'
    ;
}



.bmpg_avatar
{
    grid-area: bmpg_avatar;
}

.bmpg_contact
{
    grid-area: bmpg_contact;
}

.bmpg_photo
{
    grid-area: bmpg_photo;
}

.bmpg_music
{
    grid-area: bmpg_music;
}

.bmpg_info
{
    grid-area: bmpg_info;
}

/* music_post */
.bmp_grid
{
    display: grid;

    margin-top: 10px;

    grid-gap: 10px;
    grid-template-columns: 260px 1fr 1fr 1fr;
    grid-template-rows: auto auto;
    grid-template-areas: 'bmpg_avatar bmpg_contact bmpg_photo bmpg_music''bmpg_avatar bmpg_info bmpg_info bmpg_info';
}


.bppg_avatar
{
    grid-area: bppg_avatar;
}
.bppg_contact
{
    grid-area: bppg_contact;
}
.bppg_info
{
    grid-area: bppg_info;
}
.bppg_music
{
    grid-area: bppg_music;
}
.bppg_awards
{
    grid-area: bppg_awards;
}
.bppg_friends
{
    grid-area: bppg_friends;
}
.bppg_groups
{
    grid-area: bppg_groups;
}

.bpp_grid
{
    display: grid;

    margin-top: 10px;

    grid-gap: 10px;
    grid-template-columns: 260px 1fr 1fr 1fr;
    grid-template-rows: auto auto;
    grid-template-areas: 'bppg_avatar bppg_contact bppg_info bppg_music'
    'bppg_avatar bppg_awards bppg_friends bppg_groups';
}


@media only screen and (max-width: 1400px)
{
    .bpp_grid
    {
        grid-template-columns: 260px 1fr 1fr;
        grid-template-rows: auto auto;
        grid-template-areas: 'bppg_avatar bppg_contact bppg_info '
        'bppg_avatar bppg_music bppg_awards'
        'bppg_avatar  bppg_friends bppg_groups'
        ;
    }

    .bmp_grid
    {
        grid-gap: 10px;
        grid-template-columns: 260px 1fr 1fr;
        grid-template-rows: auto auto;
        grid-template-areas: 'bmpg_avatar bmpg_contact bmpg_photo '
        'bmpg_avatar bmpg_music bmpg_info ';
    }
}

@media only screen and (max-width: 1140px) {

.grid_index {
        grid-gap: 10px;
        grid-template-columns: 260px 1fr;
        grid-template-rows: auto auto;
        grid-template-areas: 
        'gp_2 gp_2'
        'gp_1 gp_4'
        ;
    }

    .grid_page{
    
    grid-gap: 10px;
    grid-template-columns: 260px 1fr;
    grid-template-rows: auto auto auto;
    grid-template-areas: 'gp_2 gp_2'
    'gp_3 gp_3'
    'gp_1 gp_4'
    ;
}

    .bmp_grid
    {
        grid-gap: 10px;
        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto auto;
        grid-template-areas: 
        'bmpg_avatar'
        ' bmpg_contact'
        'bmpg_photo'
        'bmpg_music'
        'bmpg_info';
    }

    .bpp_grid{
        grid-template-columns: 1fr;
        grid-template-areas: 
        'bppg_avatar'
        'bppg_contact'
        'bppg_info'
        'bppg_music'
        'bppg_awards'
        'bppg_friends'
        'bppg_groups'
        ;
    }

}

@media only screen and (max-width : 720px) {
    .grid_index {
        grid-gap: 10px;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        grid-template-areas: 'gp_4';
    }

    .grid_page{
        grid-gap: 10px;
        grid-template-columns:1fr;
        grid-template-rows: auto;
        grid-template-areas:
            'gp_3'
            'gp_2'
            'gp_4';
    }
}